<section class="catalog-section" id="catalog">
    <div class="container">
        <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
        <li class="catalog-item">
            <picture> 
                <source
                srcset="./img/catalog/fenix-dt.png 1x, ./img/fenix-dt@2x.png 2x " 
                media="(min-width: 1280px)"
                />
                <source
                srcset="./img/catalog/fenix-tab.png 1x, ./img/catalog/fenix-tab.png@2x 2x"
                media="(min-width: 768px)">
                <source
                srcset="./img/catalog/fenix-mob.png 1x, ./img/catalog/fenix-mob@2x.png 2x"
                media="(max-width: 767px)"
                >
                <img
                  src="./img/catalog/fenix-dt.png"
                  alt="watch"
                  width="292"
                  height="292"
                />
              </picture>
            <div class="catalog-item-description">
                <h3 class="catalog-item-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
                <p class="catalog-item-price">€500</p>
            </div>
        </li>
        <li class="catalog-item">
            <picture> 
                <source
                srcset="./img/catalog/marq-dt.png 1x, ./img/catalog/marq-dt@2x.png 2x" 
                media="(min-width: 1280px)"
                />
                <source
                srcset="./img/catalog/marq-tab.png 1x, ./img/catalog/marq-tab@2x.png 2x,"
                media="(min-width: 768px)">
                <source
                srcset="./img/catalog/marq-mob.png 1x,./img/catalog/marq-mob@2x.png 2x,"
                media="(max-width: 767px)"
                >
                <img
                  src="./img/catalog/marq-dt.png"
                  alt="watch"
                  width="292"
                  height="292"
                />
              </picture>
            <div class="catalog-item-description">
                <h3 class="catalog-item-name">Garmin Marq Athlete</h3>
                <p class="catalog-item-price">€450</p>
            </div>
        </li> 
        <li class="catalog-item">
            <picture> 
                <source
                srcset="./img/catalog/descent-dt.png 1x, ./img/catalog/descent-dt@2x.png 2x" 
                media="(min-width: 1280px)"
                />
                <source
                srcset="./img/catalog/descent-tab.png 1x, ./img/catalog/descent-tab@2x.png 2x"
                media="(min-width: 768px)">
                <source
                srcset="./img/catalog/descent-mob.png 1x, ./img/catalog/descent-mob@2x.png 2x"
                media="(max-width: 767px)"
                >
                <img
                  src="./img/catalog/descent-dt.png"
                  alt="watch"
                  width="292"
                  height="292"
                />
              </picture>
            <div class="catalog-item-description">
                <h3 class="catalog-item-name">Garmin Descent MK1</h3>
                <p class="catalog-item-price">€680</p>
            </div>
        </li>
        <li class="catalog-item">
            <picture> 
                <source
                srcset="./img/catalog/delta-dt.png 1x, ./img/catalog/delta-dt@2x.png 2x" 
                media="(min-width: 1280px)"
                />
                <source
                srcset="./img/catalog/delta-tab.png 1x, ./img/catalog/delta-tab@2x.png 2x"
                media="(min-width: 768px)">
                <source
                srcset="./img/catalog/delta-mob.png 1x, ./img/catalog/delta-mob@2x.png 2x"
                media="(max-width: 767px)"
                >
                <img
                  src="./img/catalog/delta-dt.png"
                  alt="watch"
                  width="292"
                  height="292"
                />
              </picture>
            <div class="catalog-item-description">
                <h3 class="catalog-item-name">Garmin D2 Delta PX</h3>
                <p class="catalog-item-price">€380</p>
            </div>
        </li>
        <li class="catalog-item hide-on-mob">
            <picture> 
                <source
                srcset="./img/catalog/fenix6pro-dt.png 1x, ./img/catalog/fenix6pro-dt@2x.png 2x" 
                media="(min-width: 1280px)"
                />
                <source
                srcset="./img/catalog/fenix6pro-tab.png 1x, ./img/catalog/fenix6pro-tab@2x.png 2x"
                media="(min-width: 768px)">
                <source
                srcset="./img/catalog/fenix6pro-tab.png 1x, ./img/catalog/fenix6pro-tab@2x.png 2x"
                media="(max-width: 767px)"
                >
                <img
                  src="./img/catalog/fenix6pro-dt.png"
                  alt="watch"
                  width="292"
                  height="292"
                />
              </picture>
            <div class="catalog-item-description">
                <h3 class="catalog-item-name">Garmin Fenix 6 Pro Solar</h3>
                <p class="catalog-item-price">€400</p>
            </div>
        </li>
        <li class="catalog-item hide-on-mob">
            <picture> 
                <source
                srcset="./img/catalog/tube-dt.png 1x, ./img/catalog/tube-dt@2x.png 2x" 
                media="(min-width: 1280px)"
                />
                <source
                srcset="./img/catalog/tube-tab.png 1x, ./img/catalog/tube-tab@2x.png 2x"
                media="(min-width: 768px)">
                <source
                srcset="./img/catalog/tube-tab.png 1x, ./img/catalog/tube-tab@2x.png 2x"
                media="(max-width: 767px)"
                >
                <img
                  src="./img/catalog/tube-dt.png"
                  alt="watch"
                  width="292"
                  height="292"
                />
              </picture>
            <div class="catalog-item-description">
                <h3 class="catalog-item-name">Tube Watch S42 Date Steel With Black Case</h3>
                <p class="catalog-item-price">€395</p>
            </div>
        </li>
    </ul>
    <button type="button" class="btn">Show more</button>
    </div>
</section>