<section class="section hero">
    <div class="container hero-container">
    <div class="box-for-hero">
        <div class="hero-first-box">
            <h1 class="hero-main-title">Welcome to our <span class="hero-blue-world">collection</span> of premium watches</h1>
            <p class="hero-main-text">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic
            designs to
            modern ones, we have a watch to suit every taste and occasion.</p>
        </div>
        <div class="hero-second-box">
            <picture>
                <source srcset="/img/hero/hero-people.png 1x, /img/hero/hero-people@2x.png 2x" media="(min-width: 1280px)">
                <source srcset="/img/hero/hero-people-tablet.png 1x, /img/hero/hero-people-tablet@2x.png 2x"
                    media="(min-width: 768px)">
                <source srcset="/img/hero/hero-people-phone.png 1x, /img/hero/hero-people-phone@2x.png 2x"
                    media="(min-width: 375px)">
                <img src="/img/hero/hero-people-phone.png" alt="people">
            </picture>
            <button class="hero-btn-scroll" type="button">Scroll down</button>
        </div>
    </div>
        <picture>
            <source srcset="/img/hero/watch-hero-desktop.png 1x, /img/hero/watch-hero-desktop@2x.png 2x" media="(min-width: 1280px)">
            <source srcset="/img/hero/watch-hero-tablet.png 1x, /img/hero/watch-hero-tablet@2x.png 2x" media="(min-width: 768px)">
            <source srcset="/img/hero/watch-hero-phone.png 1x, /img/hero/watch-hero-phone@2x.png 2x" media="(min-width: 375px)">
            <img src="/img/hero/watch-hero-phone.png" alt="watch">
        </picture>
        </div>        

</section>
