<div class="mobile-menu is-open">
  <div class="mobile-container mobile-menu-container">
    <button class="mobile-close-btn" type="button">
      <svg class="mobile-close-icon" height="34" width="34">
        <use href="../img/icons.svg#icon-icon-crosssvg"></use>
      </svg>
    </button>
    <nav class="mobile-nav">
      <ul class="mobile-list">
        <li class="header-item">
          <a class="header-link current" href="./index.html">Home</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">About Us</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Catalog</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Sale</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Reviews</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Contact Us</a>
        </li>
      </ul>
    </nav>
  </div>
</div>