<div class="mobile-menu">
  <div class="mobile-container mobile-menu-container">
    <button class="mobile-close-btn" type="button">
      <svg class="mobile-close-icon" height="34" width="34">
        <use href="/img/icons.svg#icon-icon-crosssvg"></use>
      </svg>
    </button>
    <nav class="mobile-nav">
      <ul class="mobile-list">
        <li class="mobile-item">
          <a class="mobile-link current" href="./index.html">Home</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-link" href="#about-us">About Us</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-link" href="#catalog">Catalog</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-link" href="#sale">Sale</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-link" href="#reviews">Reviews</a>
        </li>
        <li class="mobile-item">
          <a class="mobile-link" href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="mobile-icon-list">
      <li class="mobile-icon-item">
        <a class="mobile-icon" href="https://www.facebook.com/goITclub/">
          <svg class="mobile-svg" width="36" height="36">
            <use href="/img/icons.svg#icon-icon-facebooksvg"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-icon-item">
        <a class="mobile-icon" href="https://www.instagram.com/goitclub/">
          <svg class="mobile-svg" width="36" height="36">
            <use href="/img/icons.svg#icon-icon-instagramsvg"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-icon-item">
        <a class="mobile-icon" href="https://www.youtube.com/c/GoIT">
          <svg class="mobile-svg" width="36" height="36">
            <use href="/img/icons.svg#icon-icon-youtubesvg"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
