<section class="section">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <ul class="sale-list">
      <li class="sale-list-item">
        <picture>
          <source
            srcset="
              ./img/sale/handwatch1-tablet-desktop.png    1x,
              ./img/sale/handwatch1-tablet-desktop@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/sale/handwatch1-tablet-desktop.png    1x,
              ./img/sale/handwatch1-tablet-desktop@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/sale/handwatch1-mobile.png    1x,
              ./img/sale/handwatch1-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/sale/handwatch1-mobile.png"
            alt=""
            width=""
            height=""
          />
        </picture>
      </li>
      <li class="sale-list-item">
        <picture>
          <source
            srcset="
              ./img/sale/handwatch2-tablet-desktop.png    1x,
              ./img/sale/handwatch2-tablet-desktop@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/sale/handwatch2-tablet-desktop.png    1x,
              ./img/sale/handwatch2-tablet-desktop@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/sale/handwatch2-mobile.png    1x,
              ./img/sale/handwatch2-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/sale/handwatch2-mobile.png"
            alt=""
            width=""
            height=""
          />
        </picture>
      </li>
      <li class="sale-list-item">
        <picture>
          <source
            srcset="
              ./img/sale/handwatch3-tablet-desktop.png    1x,
              ./img/sale/handwatch3-tablet-desktop@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/sale/handwatch3-tablet-desktop.png    1x,
              ./img/sale/handwatch3-tablet-desktop@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/sale/handwatch3-mobile.png    1x,
              ./img/sale/handwatch3-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/sale/handwatch3-mobile.png"
            alt=""
            width=""
            height=""
          />
        </picture>
      </li>
      <li class="sale-list-item">
        <picture>
          <source
            srcset="
              ./img/sale/handwatch4-tablet-desktop.png    1x,
              ./img/sale/handwatch4-tablet-desktop@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/sale/handwatch4-tablet-desktop.png    1x,
              ./img/sale/handwatch4-tablet-desktop@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/sale/handwatch4-mobile.png    1x,
              ./img/sale/handwatch4-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/sale/handwatch4-mobile.png"
            alt=""
            width=""
            height=""
          />
        </picture>
      </li>
    </ul>
    <picture>
      <source
        srcset="
          ./img/sale/handwatch5-tablet-desktop.png    1x,
          ./img/sale/handwatch5-tablet-desktop@2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/sale/handwatch5-tablet-desktop.png    1x,
          ./img/sale/handwatch5-tablet-desktop@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/sale/handwatch5-mobile.png    1x,
          ./img/sale/handwatch5-mobile@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img src="./img/sale/handwatch5-mobile.png" alt="" width="" height="" />
    </picture>
    <div>
      <h3></h3>
      <p></p>
    </div>
  </div>
</section>
