
.about-us-text-cont {
  margin-bottom: 20px;
  padding: 40px 20px;
  border-radius: 30px;
  background: #f3f3f3;
  max-width: 335px;
}


.about-us-title {
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.about-us-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
 
}


.about-us-item {
  margin-bottom: 20px;

}
.about-us-item:last-child{
  margin-bottom: 40px;
}

.about-us-btn-link{
  display: block;
  cursor: pointer;
  padding-top: 15px;
  padding-left: 38px;
  padding-right: 37px;
  border-radius: 16px;
  max-width: 160px;
  height: 48px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #fbfbfb;
    background: #3350e9;
}
 .about-us-btn-link:hover,
 .about-us-btn-link:focus {
   background-color: #1F3CD4;
 }
 
    @media only screen and (min-width:768px) {
      .about-us-text-cont {
        padding: 80px 60px;
        max-width: 704px;
        border-radius: 50px;
        margin-bottom: 40px;
      }
  
      .about-us-title {
        font-size: 48px;
      }
  
      .about-us-list {
        font-size: 16px;
        line-height: 1.2;
      }
  
      .about-us-item:last-child {
        margin-bottom: 60px;
      }
    }
      @media only screen and (min-width:1280px) {
        .about-us-container {
          display: flex;
          gap: 40px;
        }
  
        .about-us-text-cont {
          max-width: 580px;
          margin-bottom: 0px;
        }
        .about-us-item:last-child {
        margin-bottom: 60px;
      }
      }
    